POSTRGRESQL_DB=postgres
DATABASE_NAME=ocs
DATABASE_USER=ocs_user
DATABASE_PASSWORD=ocs_password
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_SCHEMA=new_schema

POSTRGRESQL_LEGACY_DB=postgres
DATABASE_LEGACY_NAME=ocs
DATABASE_LEGACY_USER=ocs_user
DATABASE_LEGACY_PASSWORD=ocs_password
DATABASE_LEGACY_HOST=localhost
DATABASE_LEGACY_PORT=5432
DATABASE_LEGACY_SCHEMA=old_schema
OPENAI_API_KEY=sk-
