
celery==5.5.3
Django~=5.2.5
django-filter==25.1
django-storages[s3]==1.14.6
pandas==2.3.2
bs4
djangorestframework==3.16.1
django-cors-headers==4.8.0
Pillow
psycopg==3.2.10
requests==2.32.5
Unidecode==1.4.0
openai==1.107.2
python-dotenv==1.1.1
google-genai~=1.57.0
pytz==2025.2
tiktoken==0.13.0
numpy==2.3.3
openpyxl==3.1.5
lxml==6.0.1
et-xmlfile==2.0.0
jsonpath_ng==1.7.0
yeeko_xlsx_export @ git+https://github.com/yeeko-org/xlsx_django_export@main
PyMuPDF
curl_cffi==0.15.0

# EVERY PACKAGE:
# amqp==5.3.1
# annotated-types==0.6.0
# anyio==4.8.0
# asgiref==3.8.1
# beautifulsoup4==4.13.3
# billiard==4.2.1
# celery==5.4.0
# certifi==2025.1.31
# charset-normalizer==3.4.1
# click==8.1.8
# click-didyoumean==0.3.1
# click-plugins==1.1.1
# click-repl==0.3.0
# colorama==0.4.6
# distro==1.9.0
# Django==4.2.9
# django-cors-headers==4.4.0
# djangorestframework==3.15.2
# django-filter==24.2
# et-xmlfile==2.0.0
# google-auth==2.40.3
# google-genai==1.26.0
# h11==0.14.0
# httpcore==1.0.7
# httpx==0.28.1
# idna==3.10
# jiter==0.8.2
# kombu==5.4.2
# lxml==6.0.1
# numpy==2.1.2
# openai==1.61.1
# packaging==25.0
# pillow==10.3.0
# openpyxl==3.1.5
# pandas==2.2.3
# prompt_toolkit==3.0.50
# psycopg2==2.9.10
# psycopg2-binary==2.9.10
# pyasn1==0.6.1
# pyasn1-modules==0.4.2
# pydantic==2.7.1
# pydantic_core==2.18.2
# python-dateutil==2.9.0.post0
# python-dotenv==1.0.1
# pytz==2024.2
redis==5.2.1
# regex==2024.11.6
# requests==2.32.3
# rsa==4.9.1
# six==1.16.0
# sniffio==1.3.1
# soupsieve==2.6
# sqlparse==0.5.0
# tenacity==9.1.2
# tiktoken==0.8.0
# tqdm==4.67.1
# typing_extensions==4.11.0
# typing-inspection==0.4.0
# tzdata==2024.1
# Unidecode==1.3.8
# urllib3==2.3.0
# vine==5.1.0
# wcwidth==0.2.13
# websockets==15.0.1
# xlsxwriter==3.2.8
